@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #062A30;
  --color-secondary: rgb(6,42,48,0.5);
  --color-success: #17C964;
  /* --color-warning: #ffc107; */
  --color-danger: #EE2020;
  /* --color-info: #17a2b8; */
  --color-dark: #000000;
  --color-light: #ffffff;
}